<ion-app>
  <!-- Barra de navegación con botones -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/categories" routerDirection="root">Categorías</ion-button>
        <ion-button routerLink="/registro-compras" routerDirection="root">Registro de Compras</ion-button>
      </ion-buttons>
      <ion-title slot="end">Supermarket</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor principal para las páginas -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>
